/* General body style */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #cd2026;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures the navbar is above other content */
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #ffcccb !important;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Card styles */
.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  background-color: #1e1e1e;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-title,
.card-text,
.btn,
.card-footer p {
  color: #ffffff;
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.card-text {
  font-size: 1rem;
  color: #bbbbbb; /* Slightly lighter than the background for better readability */
}

.btn-primary {
  background-color: #6200ea;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #3700b3;
}

.card-footer {
  border-top: 1px solid #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
}

.card-footer a {
  font-size: 1.2rem;
  color: #ffffff;
  margin-right: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-footer a:hover {
  color: #bbbbbb;
  transform: scale(1.1);
}

.card-footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #ffffff;
}

/* Additional styling */
h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
